.tasks {
  display: grid;
  grid-template-columns: 90px 2fr 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #b8a9c9;
  padding: 10px 15px;
  gap: 10px;
}
.time {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test {
  accent-color: rebeccapurple;
}
