.creatPage {
  min-height: 450px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn {
  background-color: var(--color-primary);
  color: white;
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  transition: var(--transition);
}
.btn:active {
  background-color: var(--color-primary-dark);
  box-shadow: var(--shadow-click), var(--shadow-click1);
}
.circle {
  background-color: blueviolet;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  box-shadow:
    var(--shadow-click), var(--shadow-click1), var(--shadow1), var(--shadow2);
  z-index: -1;
}
.one {
  right: -50%;
  top: 65%;
}
.two {
  left: -50%;
  top: 23%;
}
.three {
  width: 200px;
  height: 200px;
  top: -10%;
  right: -10%;
}
