.header {
  padding: 30px;
  padding-bottom: 40px;
  color: white;
}
.col {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col button {
  padding: 8px 12px;
  border-radius: 10px;
  background-color: #b8a9c9;
}
.date {
  font-size: 1.4rem;
  text-decoration: underline;
}
.task {
  font-size: 1.8rem;
}
.calender {
  position: relative;
  z-index: 100;
}
