.header {
  padding: 30px;
  padding-bottom: 20px;
  color: var(--text-primary);
}
.col {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col button {
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--color-primary);
  transition: var(--transition);
  box-shadow: var(--shadow);
}
.col button:active {
  background-color: var(--color-primary-dark);
  box-shadow: var(--shadow-clicke);
}
.date {
  font-size: 1.4rem;
  text-decoration: underline;
}
.task {
  font-size: 1.8rem;
}
.calender {
  position: relative;
  z-index: 1000;
}