:root {
  /* backgroun color */
  ---bg-primary: #622569;
  --bg-secondary: #ecebf0;
  /* border color */
  --border-color: #d5c6e8;
  /* task color */
  --color-primary: #b61af3;
  --color-primary-dark: #760ca0;
  --color-primary-light: #a78bfa;
  /* text color */
  --text-primary: #ffffff;
  --text-secondary: #5b4d6a;
  /* other */
  --shadow: 0 8px 30px rgba(124, 58, 237, 0.12);
  --shadow1: 2px 2px 5px rgba(0, 0, 0, 0.767);
  --shadow2: -2px -2px 5px rgba(0, 0, 0, 0.767);
  --shadow-click: inset 2px 2px 5px rgba(0, 0, 0, 0.767);
  --shadow-click1: inset -2px -2px 5px rgba(0, 0, 0, 0.767);
  --transition: 0.3s ease;
}
/* ===== DARK THEME ===== */
body.dark-mode {
  /* backgroun color */
  --bg-primary: #1a1a2e;
  --bg-secondary: #2d2b3a;
  /* border color */
  --border-color: #4a3f5e;

  /* task color */
  --color-primary: #492d7a;
  --color-primary-dark: #351377;
  --color-primary-light: #9580b1;

  /* text color */
  --text-primary: #f0edf5;
  --text-secondary: #c4bdd2;

  /* other */
  --shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
  --shadow1: 2px 2px 8px rgba(0, 0, 0, 0.8);
  --shadow2: -2px -2px 8px rgba(255, 255, 255, 0.05);
  --shadow-click: inset 2px 2px 8px rgba(0, 0, 0, 0.8);
  --shadow-click1: inset -2px -2px 8px rgba(255, 255, 255, 0.04);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
button {
  font-family: inherit;
  color: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  font-family: vazir;
  background-color: var(---bg-primary);
  /* color: var(--text-primary); */
}
@font-face {
  font-family: vazir;
  src: url(./assets/Fonts/Vazir.ttf) format("truetype");
}

/* galobal class */
.container {
  background-color: var(--bg-secondary);
  min-height: 100dvh;
  padding: 25px 5%;
  border-radius: 60px 0 0 0;
  box-shadow: -2px -2px 10px black;
}
